[include]
    path = ~/.gitconfig.local

[color]
    ui = true
[core]
    # since most windows apps can handle unix line endings its best to
    # just leave them alone rather than automatically converting them
    autocrlf = false
    editor = vim
    trustctime = false
[credential]
    helper = cache --timeout=86400
[merge]
    tool = vimdiff
[push]
    default = upstream
