[alias]
    ca = commit -a
    cam = commit -am
    cm = commit -m
    co = checkout
    pt = push --follow-tags
[color]
    ui = true
[core]
    # if line endings are CRLF converted them to LF on commit,
    # otherwise leave them alone
    autocrlf = input
    editor = vim
    trustctime = false
[credential]
    helper = cache --timeout=86400
[diff]
    # this setting only works with git 2.11+
    # http://stackoverflow.com/questions/25550582
    wsErrorHighLight = all
[init]
    templatedir = ~/.git-templates
[merge]
    tool = vimdiff
[mergetool]
    keepBackup = false
[push]
    default = upstream
[tag]
    sort = version:refname
[user]
    useConfigOnly = true

[include]
    path = ~/.gitconfig.local
