# load system readline/input settings
$include /etc/inputrc

# uses visual bell instead of audio
set bell-style visible

# sets autocomplete as case insensitive
set completion-ignore-case on

# appends slash to end of symlinked directories on autocomplete
set mark-symlinked-directories on

# will match files beginning with '.' w/o supplying that character
set match-hidden-files on

# for auto complete list all match options
set show-all-if-ambiguous