# load system readline/input settings
$include /etc/inputrc

$if Bash
    # uses visual bell instead of audio
    set bell-style visible

    # sets autocomplete as case insensitive
    set completion-ignore-case on

    # user prompted to display all matching options if there are
    # greater than this number
    set completion-query-items 15

    # appends slash to end of symlinked directories on autocomplete
    set mark-symlinked-directories on

    # will match files beginning with '.' w/o supplying that character
    set match-hidden-files on

    # for auto complete list all match options
    set show-all-if-ambiguous
$endif
