packages: [
  "busy-signal"
  "intentions"
  "language-batch"
  "language-bbcode"
  "language-diff"
  "language-ini"
  "language-mako"
  "language-nginx"
  "language-oracle"
  "language-pgsql"
  "language-powershell"
  "linter"
  "linter-ui-default"
  "multi-cursor"
  "open-recent"
  "package-sync"
  "prettier-atom"
]
