packages: [
  "language-batch"
  "language-bbcode"
  "language-diff"
  "language-ini"
  "language-mako"
  "language-nginx"
  "language-oracle"
  "language-pgsql"
  "multi-cursor"
  "open-recent"
  "package-sync"
]
